{% extends "base.html" %}
{% block title %}
Signup
{% endblock %}


{% block body %}
<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <h1 class="text-center mb-4">Fill Information</h1>

    <div class="mb-3 w-50">
        <label for="inputOpen" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputOpen" name="name" required>
    </div>

    <div class="mb-3 w-50">
        <label for="inputLow" class="form-label">email</label>
        <input type="email" class="form-control" id="inputLow" name="email" required>
    </div>

    <div class="mb-3 w-50">
        <label for="inputBTC" class="form-label">password</label>
        <input type="password" class="form-control" id="inputBTC" name="pass1" required>
    </div>

    <div class="mb-3 w-50">
        <label for="inputVolume" class="form-label">type password again </label>
        <input type="password" class="form-control" id="inputVolume" name="rpass" required>
    </div>

    <div class="mb-3 form-check w-50">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="check">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>

    <button onclick="register_data()" class="btn btn-primary w-25">Submit</button>
</div>

<p class="message">a</p>

<!-- JavaScript for handling form submission -->
<script>
function register_data(){
    let name = document.getElementsByName("name")[0].value;
    let email = document.getElementsByName("email")[0].value;
    let pass1 = document.getElementsByName("pass1")[0].value;
    let rpass = document.getElementsByName("rpass")[0].value;
    let result = document.getElementsByClassName("message");

    let data = {name: name, email: email, pass1: pass1, rpass: rpass};

    resp =fetch('/register', {
        headers: {
            "Content-Type": "application/json"
        },
        method: "POST",
        body: JSON.stringify(data)
    })
    resp.then((resp) => resp.json())
    .then((data) => {
        console.log(data.message,result[0].value);
        if (result.length > 0) {  // Ensure that the element exists
            result[0].innerHTML = data.message;  // Update the first element with class 'message'
        } else {
            console.log("No elements with class 'message' found");
        }  // Assuming your backend sends a 'message' field
    }).catch((error) => console.error('Error:', error));
}
</script>
{% endblock %}
